<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <title>Product Card UI Design</title>
  <style>
  /* @import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 220px;
    height: 350px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1BBFE9;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: "Shoe";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 70%;
    height: 70%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-15%);
    
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 200px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2  {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .card .contentBx h3  {
    position: relative;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {  
    background: #B90000;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
     background: #1BBFE9;
}

.container .card .contentBx .color span:nth-child(3) {
     background: #1B2FE9;
}

.container .card .contentBx .color span:nth-child(4) {
     background: #080481;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}  */


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Fira Sans Extra Condensed', sans-serif;
    --font3: 'Roboto', sans-serif;

    --btnbg: #ffcc00;
    --btnfontcolor: rgb(61, 61, 61);
    --btnfontcolorhover: rgb(255, 255, 255);
    --btnbghover: #ffc116;
    --btnactivefs: rgb(241, 195, 46);


    --label-index: #960796;
    --danger-index: #5bc257;
/* PAGINATE */
    --link-color: #000;
    --link-color-hover: #fff;
    --bg-content-color: #ffcc00;

}

.container-fluid {
    max-width: 1400px;

}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}


.card h5 {
    overflow: hidden;
    height: 55px;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
} 

.card-img-top {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
    padding: 30px;
}

.card h2 {
    font-size: 1rem;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* Centered text */
.label-top {
    position: absolute;
    background-color: var(--label-index);
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #8bc34a;
    line-height: 90px;
    text-align: center;
    color: white;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;
    /* line-height: normal; */
    /* padding: 0 25px; */
}

.aff-link {
    /* text-decoration: overline; */
    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}
.bold-btn {

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}
.box .btn {
    font-size: 1.5rem;
}

@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px;
    }
}
@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px;
    }
}

/* START BUTTON */
.btn-warning {
    background: var(--btnbg);
    color: var(--btnfontcolor);
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    border-radius: 100px;
}
.btn-warning:hover {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}
.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
    font-size: 1rem;
    background-color: var(--btnbg)!important;
    color: var(--btnfontcolor)!important;
}
.bg-danger {
    font-size: 1rem;
}


.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}

.fa-question-circle:before {
    /* content: "\f059"; */
    color: darkgray;
}

.fa-heart:before {
    color:crimson;
}
.fa-chevron-circle-right:before {
    color: darkgray;
}
  </style>
</head>

<body>
  <!-- <div>
  <center><h1 style="color: #fff;">ShoeStore</h1>
    <h1 style="color: #fff;">Welcome <%- currentUser.name %></h1>
    <h1><form action="/viewcart" method="post">
      <input type='hidden' name='user' value="<%- currentUser.email%>" />
        <a><button type="submit" style="padding: 5px 10px; border-radius: 20%; font-weight: 300; font-size: 20px;">View Cart</button></a>
    </form></h1>
  </center>
  </div>
  <br>

    <div style="padding: 100px;">
    <div class="container" style="padding-bottom: 50px;">
      <div class="card">
          <div class="imgBx">
              <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
          </div>

          <div class="contentBx">
              
              <h2>Nike Shoes</h2>
              <h3>Price: Rs 1700</h3>
              <form action="/addtocart" method="post">
              <input type='hidden' name='prod' value='1' />
              <input type='hidden' name='user' value="<%- currentUser.email%>" />
              <a><button type="submit" style="border: none; background-color: #fff; size: 50px;">Add to Cart</button></a>
            </form>
          </div>
      </div>
  </div>
  <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="https://pngimg.com/uploads/running_shoes/small/running_shoes_PNG5816.png" alt="nike-air-shoe">
            </div>

            <div class="contentBx">

                <h2>Fila Shoes</h2>
                <h3>Price: Rs 1200</h3>
                <form action="/addtocart" method="post">
              <input type='hidden' name='prod' value='3' />
              <input type='hidden' name='user' value="<%- currentUser.email%>" />
              <a><button type="submit" style="border: none; size: 50px;">Add to Cart</button></a>
              </form>
            </div>

        </div>
    </div>
  </div>
  <div style="padding: 100px;">
    <div class="container" style="padding-bottom: 50px;">
      <div class="card">
          <div class="imgBx">
              <img src="https://pngimg.com/uploads/running_shoes/small/running_shoes_PNG5791.png" alt="nike-air-shoe">
          </div>

          <div class="contentBx">

              <h2>Puma Shoes</h2>
              <h3>Price: Rs 1500</h3>
              <form action="/addtocart" method="post">
              <input type='hidden' name='prod' value='2' />
              <input type='hidden' name='user' value="<%- currentUser.email%>" />
              <a><button type="submit" style="border: none; size: 50px;">Add to Cart</button></a>
              </form>
          </div>

      </div>
  </div>
  <div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="https://pngimg.com/uploads/running_shoes/small/running_shoes_PNG5784.png" alt="nike-air-shoe">
        </div>

        <div class="contentBx">
            
            <h2>Rebook Shoes</h2>
            <h3>Price: Rs 1400</h3>
            <form action="/addtocart" method="post">
              <input type='hidden' name='prod' value='4' />
              <input type='hidden' name='user' value="<%- currentUser.email%>" />
              <a><button type="submit" style="border: none; size: 50px;">Add to Cart</button></a>
              </form>
        </div>

    </div>
</div>
  </div> -->
  <div>
    <center><h1 style="color: rgb(239, 123, 0);">Store</h1>
      <h1 style="color: rgb(239, 123, 0);">Welcome <%- currentUser.name %></h1>
      <h1><form action="/viewcart" method="post">
        <input type='hidden' name='user' value="<%- currentUser.email%>" />
          <a><button type="submit" class="btn btn-warning bold-btn">View Cart</button></a>
      </form></h1>
    </center>
    </div>
    <br>
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col hp">
        <div class="card h-100 shadow-sm">
          <a href="#">
            <img src="https://m.media-amazon.com/images/I/81gK08T6tYL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
          </a>
  
          <div class="label-top shadow-sm">
            <a class="text-white" href="#">asus</a>
          </div>
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-success">1.245$</span>
  
              <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
            </div>
            <h5 class="card-title">
              <a target="_blank" href="#">ASUS TUF FX505DT Gaming Laptop- 15.6", 120Hz Full HD, AMD Ryzen 5 R5-3550H Processor, GeForce GTX 1650 Graphics, 8GB DDR4, 256GB PCIe SSD, RGB Keyboard, Windows 10 64-bit - FX505DT-AH51</a>
            </h5>
  
            <div class="d-grid gap-2 my-4">
                <form action="/addtocart" method="post">
                    <input type='hidden' name='prod' value='1' />
                    <input type='hidden' name='user' value="<%- currentUser.email%>" />
                    <a><button class="btn btn-warning bold-btn" type="submit" >Add to Cart</button></a>
                  </form>
              <!-- <a href="#" class="btn btn-warning bold-btn">add to cart</a> -->
  
            </div>
            <div class="clearfix mb-1">
  
              <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
              <span class="float-end">
                <i class="far fa-heart" style="cursor: pointer"></i>
  
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col hp">
        <div class="card h-100 shadow-sm">
          <a href="#">
            <img src="https://m.media-amazon.com/images/I/71wF7YDIQkL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
          </a>
  
          <div class="label-top shadow-sm">
            <a class="text-white" href="#">razer</a>
          </div>
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-success">2.345$</span>
  
              <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
            </div>
            <h5 class="card-title">
              <a target="_blank" href="#">Razer Blade 15 Base Gaming Laptop 2020: Intel Core i7-10750H 6-Core, NVIDIA GeForce GTX 1660 Ti, 15.6" FHD 1080p 120Hz, 16GB RAM, 256GB SSD, CNC Aluminum, Chroma RGB Lighting, Black</a>
            </h5>
  
            <div class="d-grid gap-2 my-4">
                <form action="/addtocart" method="post">
                    <input type='hidden' name='prod' value='2' />
                    <input type='hidden' name='user' value="<%- currentUser.email%>" />
                    <a><button class="btn btn-warning bold-btn" type="submit" >Add to Cart</button></a>
                  </form>
              <!-- <a href="#" class="btn btn-warning bold-btn">add to cart</a> -->
  
            </div>
            <div class="clearfix mb-1">
  
              <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
              <span class="float-end">
                <i class="far fa-heart" style="cursor: pointer"></i>
  
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col hp">
        <div class="card h-100 shadow-sm">
          <a href="#">
            <img src="https://m.media-amazon.com/images/I/81w+3k4U8PL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
          </a>
  
          <div class="label-top shadow-sm">
            <a class="text-white" href="#">lenovo</a>
          </div>
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-success">1.020$</span>
  
              <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
            </div>
            <h5 class="card-title">
              <a target="_blank" href="#">Lenovo Legion 5 Gaming Laptop, 15.6" FHD (1920x1080) IPS Screen, AMD Ryzen 7 4800H Processor, 16GB DDR4, 512GB SSD, NVIDIA GTX 1660Ti, Windows 10, 82B1000AUS, Phantom Black</a>
            </h5>
  
            <div class="d-grid gap-2 my-4">
                <form action="/addtocart" method="post">
                    <input type='hidden' name='prod' value='3' />
                    <input type='hidden' name='user' value="<%- currentUser.email%>" />
                    <a><button class="btn btn-warning bold-btn" type="submit" >Add to Cart</button></a>
                  </form>
              <!-- <a href="#" class="btn btn-warning bold-btn">add to cart</a> -->
  
            </div>
            <div class="clearfix mb-1">
  
              <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
              <span class="float-end">
                <i class="far fa-heart" style="cursor: pointer"></i>
  
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col hp">
        <div class="card h-100 shadow-sm">
          <a href="#">
            <img src="https://m.media-amazon.com/images/I/61Ze2wc9nyS._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
          </a>
          <!-- <div class="label-top shadow-sm">Asus Rog</div>  -->
          <div class="label-top shadow-sm">
            <a class="text-white" href="#">msi</a>
          </div>
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-success">2.245$</span>
  
              <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
            </div>
            <h5 class="card-title">
              <a target="_blank" href="#">MSI GL66 Gaming Laptop: 15.6" 144Hz FHD 1080p Display, Intel Core i7-11800H, NVIDIA GeForce RTX 3070, 16GB, 512GB SSD, Win10, Black (11UGK-001)</a>
            </h5>
  
            <div class="d-grid gap-2 my-4">
                <form action="/addtocart" method="post">
                    <input type='hidden' name='prod' value='4' />
                    <input type='hidden' name='user' value="<%- currentUser.email%>" />
                    <a><button class="btn btn-warning bold-btn" type="submit" >Add to Cart</button></a>
                  </form>
              <!-- <a href="#" class="btn btn-warning bold-btn">add to cart</a> -->
  
            </div>
            <div class="clearfix mb-1">
  
              <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
              <span class="float-end">
                
  <i class="far fa-heart" style="cursor: pointer"></i>
  
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</body>

</html>